
body {
    background-image: url("https://images.pexels.com/photos/773594/pexels-photo-773594.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260");
}

h1 {
    color: white;
    padding: 10px;
}

h5 {
    color: black;
    padding: 10px;
    background-color: white
}

p {
    color: white;
    padding: 10px;
    margin: auto;
}

div {
    color: white;
    padding: 1px;
}

table {
    background-color: white;
}
